<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">

...

		<key>KextsToPatch</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>8.16.74</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				omP4KYTzMwOAw076i/zmdQ==
				</data>
				<key>MatchOS</key>
				<string>10.8.5</string>
				<key>Name</key>
				<string>AppleIntelHDGraphicsFB</string>
				<key>Replace</key>
				<data>
				gB8p/nXUPmeWWKWn5G/RNA==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>8.16.74</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				AQAAAMdDIAA=
				</data>
				<key>MatchOS</key>
				<string>10.8.5</string>
				<key>Name</key>
				<string>AppleIntelHDGraphicsFB</string>
				<key>Replace</key>
				<data>
				AAAAAMdDIAA=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>General 8.16.74</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				D0XIQomMM/ABAA==
				</data>
				<key>MatchOS</key>
				<string>10.8.5</string>
				<key>Name</key>
				<string>AppleIntelHDGraphicsFB</string>
				<key>Replace</key>
				<data>
				kJCQQomMM/ABAA==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>LW1 8.16.74</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				SYuEJJgGAAAPtkAYweATQQtGbEGJRmxJi4wkmAAAAImB
				DAAPAEmLhCSYBgAAD7ZAGMHgE0ELRmhBg/8D
				</data>
				<key>MatchOS</key>
				<string>10.8.5</string>
				<key>Name</key>
				<string>AppleIntelHDGraphicsFB</string>
				<key>Replace</key>
				<data>
				QYtGbCX//8f/DQAAAACQkJCQkEGJRmxJi4wkmAAAAImB
				DAAPAEGLRmgl///H/w0AAAAAkJCQkJBBg/8D
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>8.16.74</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				AAAJx4Vg//8=
				</data>
				<key>MatchOS</key>
				<string>10.8.5</string>
				<key>Name</key>
				<string>AppleIntelHDGraphicsFB</string>
				<key>Replace</key>
				<data>
				AAAIx4Vg//8=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>8.16.74</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				w39Bgc48AzA=
				</data>
				<key>MatchOS</key>
				<string>10.8.5</string>
				<key>Name</key>
				<string>AppleIntelHDGraphicsFB</string>
				<key>Replace</key>
				<data>
				w39Bgc4AAzA=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>8.16.74</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				TFQ6U2VwIDI5IDIwMTMgMTM6NTc6MTYK
				</data>
				<key>MatchOS</key>
				<string>10.8.5</string>
				<key>Name</key>
				<string>AppleIntelHDGraphicsFB</string>
				<key>Replace</key>
				<data>
				TFQ6SnVsIDI5IDIwMTMgMTY6NTc6MTQK
				</data>
			</dict>

...

</plist>
